In [1]:
str="Madam"
str=str.lower()
str1=reversed(str)
if list(str)==list(str1):
   print("palindrome string")
else:
   print("not a palindrome string")

palindrome string

In [5]:
num=int(input('enter the number'))
fact=1
for i in range(1,num+1):
    fact=fact*i
print(fact)

enter the number 9

362880

In [7]:
initial_population=int(input())
growth_rate=float(input())
female_precentage=float(input())
for year in range(10):
    total=initial_population*(1+growth_rate)**year
    female=total*female_precentage
    print(f"year {year+1}:{female:.2f}")

 30
 50
 70

year 1:2100.00
year 2:107100.00
year 3:5462100.00
year 4:278567100.00
year 5:14206922100.00
year 6:724553027100.00
year 7:36952204382100.00
year 8:1884562423487100.00
year 9:96112683597842096.00
year 10:4901746863489946624.00

In [9]:
a=int(input('enter a 1st number'))
b=int(input('enter a 2nd number'))
c=int(input('enter a 3rd number'))
median=(a,b,c)
if (a>b and a<c) or (a<b and a>c):
    print(a)
elif (b>a and b<c) or (b<a and b>c):
    print(b)
else:
    print(c)
print('the median is:',median)

enter a 1st number 5
enter a 2nd number 7
enter a 3rd number 8

7
the median is: (5, 7, 8)

In [11]:
print('Odd numbers')
for i in range(1,27):
    if i%2==0:
       odd=i-1
       print(f"{odd}")  #format output for alignment!!

Odd numbers
1
3
5
7
9
11
13
15
17
19
21
23
25

In [13]:
num=int(input("enter the number:"))
print("multiplication table of ",num)
for i in range(1,11):
        print(num,'x',i,'=',num*i)

enter the number: 5

multiplication table of  5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [15]:
for index in range(50,30,-3):
    if index==50:
        print("loop skips")
        continue
        print(index,end=' ')
        print(index)

loop skips